#pc-wrap {
  #my-articles-page {
    width: 100%;
    height: auto;
    .article-list-box {
      width: 100%;
      height: auto;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 25px;
      margin-top: 50px;
      margin-bottom: 87px;
      .no-data {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #c6d984;
        margin-top: 50px;
        font-weight: 700;
        .info-icon {
          font-size: 64px;
        }
      }
    }
    .pagination-conf {
      width: 100%;
      height: auto;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      .total {
        p {
          color: #181a20;
          text-align: center;
          font-family: "DM Sans" !important;
          font-size: 18px !important;
          font-weight: 700 !important;
          line-height: 26px;
        }
      }
    }
  }
}
